<script>
import products from '../assets/data.json'
import Pagination from 'vue-pagination-2'

export default {
  name: 'AllProducts',
  components: {
    Pagination
  },
  data () {
    return {
      products: products,
      renderedProducts: Object(products).slice(0, 9),
      page: 1,
      paginationOptions: {chunk: 5}
    }
  },
  methods: {
    callback: function (page) {
      this.renderedProducts = Object(products).slice((page * 9) - 9, (page * 9))
    }
  }
}
</script>

<template>
  <b-container>
    <h1>Tous nos produits</h1>
    <b-col cols="12">
      <pagination v-model="page" :per-page="9" :records="200" :options="paginationOptions" @paginate="callback"></pagination>
    </b-col>
    <b-row>
      <b-col cols="12" col sm="6" md="4" class="d-flex align-items-stretch" v-for="product in renderedProducts" :key="product.id">
        <b-card :title="product.title" :sub-title="product.price + ' €'">
          <b-card no-body :img-src="product.image1" :img-alt="product.image1" img-top></b-card>
          <b-card-footer>
            <b-card-text>
              {{product.description}}
            </b-card-text>
            <router-link class="card-link" :to="'/product/' + product.id">En savoir plus</router-link>
          </b-card-footer>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<style >
.VuePagination__count {
  display: none;
}

.card-subtitle {
  font-weight: bold;
}

nav {
  display: inline-flex;
}

.card-img-top {
  float: left;
  width:  100%;
  height: 150px;
  object-fit: cover;
}

@media (max-width: 820px) {
  nav {
    font-size: 80%
  }
}
</style>
