<script>
import { mapGetters, mapState } from 'vuex'

export default {
  data () {
    return {
      fields: [
        { key: 'id' },
        { key: 'title', label: 'Nom' },
        { key: 'quantity', label: 'Quantité' },
        {key: 'price', label: 'Prix unitaire'}
      ]
    }
  },
  computed: {
    ...mapState({
      checkoutStatus: state => state.cart.checkoutStatus
    }),
    ...mapGetters('cart', {
      products: 'cartProducts',
      total: 'cartTotalPrice'
    })
  },
  methods: {
    checkout (products, amount) {
      this.$store.dispatch('cart/checkout', {products, amount}).then((response) => {
        return console.log(this.$store.state.cart.checkoutStatus)
      })
    }
  }
}

</script>

<template>
  <b-container>
    <b-row>
      <b-col cols="12">
       <h1>Votre Panier</h1>
      </b-col>
      <b-col cols-12>
        <span v-if="checkoutStatus === 'successful'">Votre transaction à bien été enregistré !</span>
      </b-col>
      <b-col cols="12">
        <b-table responsive="true" striped hover :items="products" :fields="fields"></b-table>
      </b-col>
      <b-col cols="12">
        <span class="total">Total : {{total.toFixed(2)}} € </span> <b-button :disabled="!products.length" @click="checkout(products, total.toFixed(2))">Payer</b-button>
      </b-col>
      <b-col cols="12"><router-link to="/">Continuez vos achats</router-link></b-col>
    </b-row>
  </b-container>
</template>

<style>
.total {
  font-size: 120%;
  font-weight: bold;
  padding-right: 4%;
}
</style>
