<script>
import products from '../assets/data.json'
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      product: products[this.$route.params.id - 1]
    }
  },
  methods: mapActions('cart', [
    'addProductToCart'
  ])
}

</script>

<template>
  <b-container>
    <b-row>
      <b-col cols="12"><router-link to="/">Retourner a la liste de produits</router-link></b-col>
      <b-col cols="1">
        <a :href="'/product/' + (this.product.id - 1).toString()">
          <img v-if="product.id !== 1" class="arrows" src="../assets/left-arrow.png" alt="Previous Article">
        </a>
      </b-col>
      <b-col cols="10">
        <h1>{{this.product.title}}</h1>
      </b-col>
      <b-col cols="1">
        <a :href="'/product/' + (this.product.id + 1).toString()">
          <img v-if="product.id !== 200 " class="arrows" src="../assets/right-arrow.png" alt="Next Article">
        </a>
      </b-col>
      <b-col cols="12">
        <b-carousel
          id="carousel-1"
          :interval="4000"
          controls
          indicators
        >
          <b-carousel-slide
            :img-src=this.product.image1
          ></b-carousel-slide>
          <b-carousel-slide
            :img-src=this.product.image2
          ></b-carousel-slide>
          <b-carousel-slide
            :img-src=this.product.image3
          ></b-carousel-slide>
        </b-carousel>
      </b-col>
      <b-col cols="12">
        <p>{{this.product.long_description}}</p>
      </b-col>
      <b-col cols="12">
        <span class="price">{{this.product.price}} € </span><b-button :disabled="!product.stock" @click="addProductToCart(product)">Ajouter au panier</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<style>
.arrows {
  width: 40px;
}

.price {
  font-weight: bold;
  font-size: 130%;
  padding-right: 4%;
}

.img-fluid {
  float: left;
  height: 200px;
  object-fit: cover;
}

</style>
